@media screen and (max-width: 1200px) {
  .components-pageBody-main{
    margin-top: 400px !important;
  }
}
  
  @media screen and (max-width: 767px) {
    .components-pageBody-main{
      margin-top: 400px !important;
    }
  }

.components-pageBody-main{
    margin-top: 560px;
    position: relative;
    background-color: #fff;
    width: 100%;
}