
 @media screen and (max-width: 960px) {
    .components-eachcard-main{
        // p{
        //     font-size: 1vw !important;
        // }
    }
  }
.components-eachcard-main{
    width: 100%;
    padding: 0 2% 5% 0;
    position: relative;
    &__img-container{
        width: 100%;
        height: 70%;
        position: relative;
        p{
            position: absolute;
            bottom: 5%;
            right: 5%;
            color: #ffffff;
            background-color: #000;
            font-size: 15px;
            padding: 4px 8px;
            border-radius: 20px;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}
.components-eachcard-title{
    font-size: 18px;
    margin-top: 10px;
    p{
        margin: 0;
    }
}
.components-eachcard-description{
    cursor: pointer;
    &__first{
        color: #026764;
    }
    &__second{
        color: #696969;
    }
}
.components-eachcard-detail{
    display: inline-flex;
    align-items: center;
    img{
        width: 1rem;
        font-size: 14px;
        background-color: #f5f5f5;
        padding: 2px 0;
        
    }
    &__time{
        background-color: #f5f5f5;
        font-size: 14px;
        padding: 2px 0;
    }
    &__price{
        background-color: #d7d7d7;
        margin: 1px;
        padding: 2px;
    }
}
.components-eachcard-free{
    position: absolute;
    right: 7%;
    bottom: 3%;
    background-color: #f5f5f5;
    color: #026764;
    font-size: 14px;
}
