@mixin defaultCenterlised {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 700px) {
    .components-header-main{
        &__right{
            display: none !important;
        }
    }
  }

.components-header-main{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    &__container{
        height: 80px;
        width: 91.666667%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        width: 109.44px;
        height: 36px;
        vertical-align: middle;
        margin: 0;
        margin-left: 48px;
    }
    &__right{
        height: 36px;
        vertical-align: middle;
        margin: 0;
        display: flex;
        align-items: center;
    }

    &__right-a{
        padding: .5rem;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        display: inline-block;
        margin: 0 10px;
        color: #696969;
        -webkit-transition: border-color .4s;
        transition: border-color .4s;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: rgb(105, 105, 105)
    }
    &__right-a:hover{
        background-color: rgba(0, 0, 0, 0.87);
        color: #ffffff;
        border-radius: 20px; 
        transition: border-radius 0.2s;
    }
    &__right-sign-in{
        background-color: rgba(0, 0, 0, 0.87);
        color: #ffffff;
        border-radius: 20px; 
        padding: .3rem .5rem;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
    }
    &__right-sign-up{
        color: rgb(2, 103, 100);
        border:1px solid rgb(2, 103, 100);
        border-radius: 20px; 
        padding: .3rem .5rem;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
    }
    &__right-bag{
        color: rgb(2, 103, 100);
        display: inline-flex;
    }
    &__right-bag-img{
        width: 55px;
        padding: 12px;
    }
    &__right-bag-img:hover{
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }
}