

  @media screen and (max-width: 1400px) {
    .components-stickynavbar-main{
        &__container-left{
            width: 45% !important;
        }
    }
  }
  @media screen and (max-width: 1040px) {
    .components-stickynavbar-main{
        &__container-left{
            width: 65% !important;
        }
        &__container-left-middle{
            font-size: 1.5vw !important;
        }
        &__container-left-left{
            min-width: 50% !important;
        }
    }
  }
  @media screen and (max-width: 760px) {
    .components-stickynavbar-main{
        &__container-left{
            width: 100% !important;
        }
        &__container-left-left{
            min-width: 40% !important;
        }
        &__container-left-left-noaddress{
            font-size: 9px !important;
        }
    }
  }

.components-stickynavbar-main{
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 1px 0 10px -5px #a5a5a5;
    height: 70px;
    display: flex;
    justify-content: center;
    &__container{
        width: 91%;
        height: 100%;
        display: flex;
        align-items: center;
    }
   
    &__container-left-left{
        max-width: 50%;
        min-width: 35%;
    }
    &__container-left-left-ASAP{
        text-align: center;
        margin: 0;
        color: #996515;
    }
    &__container-left-left-address{
        @extend .components-stickynavbar-main__container-left-left-ASAP;
        color: #a5a5a5;;
    }
    &__container-left-middle{
        background-color: rgba(0, 0, 0, 0.87);
        color: #ffffff;
        border-radius: 20px; 
        padding: .3rem .5rem;
        text-decoration: none;
        font-size: 12px;
        margin: 0 5px;
    }
    &__container-left-right{
        align-items: center;
        position: relative;
        div{
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #026764;
            -webkit-transition: width .2s,-webkit-transform .4s;
            transition: width .2s,-webkit-transform .4s;
            transition: transform .4s,width .2s;
            transition: transform .4s,width .2s,-webkit-transform .4s;
        }
        p{
            display: inline-block;
            cursor: pointer;
            color: #000;
            margin: 0;
        }
        span{
            color: #a5a5a5;
            margin: 0 6px;
        }
    }
    &__container-left-left-noaddress{
       padding: 2% 1%;
       color: #ffffff;
       background-color: #996515;
       text-align: center;
       border-radius: 20px;
       margin: 4% 0;
    }
}
.components-stickynavbar-main__container-left{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}