@mixin defaultCenterlised {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 960px) {
    .components-backgroundImg-main{
        height: 280px !important;
        &__button-container{
            width: 35% !important;
            height: 40px !important;
            p{
                font-size : 3.3vw !important
            }
            span{
                font-size : 3.3vw !important
            }
        }
    }
  }
  @media screen and (max-width: 1280px) {
    .components-backgroundImg-main{
        height: 320px !important;
        &__button-container{
            width: 20% !important;
            height: 40px !important;
            p{
                font-size : 1.3vw !important
            }
            span{
                font-size : 1.3vw !important
            }
        }
    }
  }

.components-backgroundImg-main{
    position: fixed;
    top: 80px;
    z-index: 0;
    width: 100%;
    left: 0;
    height: 480px;
    &__img-container{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title-container{
        position: relative;
        padding: 2% 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__title-header{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }
    &__title-description{
        font-size: 20px;
        font-weight: 400;
        margin: 5px 0;
    }
    &__button-container{
        width: 15%;
        height: 50px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        p{
            color: #ffffff;
            text-align: center;
            font-weight: bold;
            margin: 2% 2% 2% 0;
            font-size: 1.3vw;
        }
        span{
            color: #ffffff;
            background-color: rgb(2, 103, 100);
            padding: 1% 1%;
            border-radius: 5px;
            text-align: center;
            width: 60%;
            font-size: 1.3vw;
        }
    }
}