
  @media screen and (min-width: 1400px) {
    .components-CardContainer-col{
        flex: 0 0 32.16666667% !important;
        max-width: 33% !important;
    }
  }
  @media screen and (max-width: 900px) {
    .components-CardContainer-main:hover{
        .components-CardContainer-button {
            display: none;
        }
    }
  }

.components-CardContainer-main{
    margin: 3% 0;
    position: relative;
}
.components-CardContainer-horizental-scroll{
    margin: 10px 0 20px 5%;;
    width: 88%;
    height: 1px;
    background-color: #d7d7d7;
    position: relative;
    &__cursor{
        -webkit-transition: left .5s cubic-bezier(.74,0,.35,.96);
        transition: left .5s cubic-bezier(.74,0,.35,.96);
        position: absolute;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #000;
        opacity: .9;
    }
}
.components-CardContainer-title{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}
.components-CardContainer-crausel{
    overflow: auto;
    width: 90%;
    margin-left: 5%;
    
}
.components-CardContainer-row{
    flex-flow: unset !important;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding: 0 0 10px;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.74,0,.35,.96);
    transition: -webkit-transform .5s cubic-bezier(.74,0,.35,.96);
    transition: transform .5s cubic-bezier(.74,0,.35,.96);
    transition: transform .5s cubic-bezier(.74,0,.35,.96),-webkit-transform .5s cubic-bezier(.74,0,.35,.96);
    &::-webkit-scrollbar {
        width: 10px;
      }

}

.components-CardContainer-button{
    position: absolute;
    background-color: #026764!important;
    color: #fff;
    padding: 8px 10px;
    display: none;
    -webkit-animation-name: bounce-in;
    animation-name: bounce-in;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: cubic-bezier(.53,.72,.81,.31);
    animation-timing-function: cubic-bezier(.53,.72,.81,.31);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    top: 40%;
    right: 4%;
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    overflow: visible;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
    border: none;
    outline:none;
    cursor: pointer;
    img{
        width: 20px;
    }
    &__left{
        @extend .components-CardContainer-button;
        left: 4%;
        transform: rotate(180deg)
    }
}
.components-CardContainer-main:hover{
    .components-CardContainer-button {
        display: inline-block;
    }
    .components-CardContainer-button__left{
        display: inline-block;
    }
}